Banco de Dados e Python

Conexão - Podemos criar ou conectar a um banco de dados usando o comando sqlite3.connect(). Para salvar diretamente um dataframe utilize o método .to_sql() do pandas. Lembre de fechar a conexão com o close()

Leitura - A função read_sql() permite executar uma consulta SQL no banco de dados e retornar os resultados como um DataFrame do pandas. Abrir conexão sempre**

Listar tabelas - Para verificar as tabelas que estão no banco de dados podemos utilizar a query: 
 `SELECT name 
  FROM sqlite_master  
  WHERE type='table`

Outras bibliotecas populares usadas para interagir com diferentes bancos

- **psycopg2** - Usada para acessar bancos de dados PostgreSQL  
- **mysql-connector-python** - Usada para acessar bancos de dados MySQL  
- **pymongo** - Usada para acessar bancos de dados MongoDB  
- **pyodbc** - Usada para acessar bancos de dados ODBC, incluindo Microsoft SQL Server, Oracle, DB2 e outros  
- **sqlalchemy** - Permite trabalhar com vários bancos de dados relacionais e não relacionais de forma consistente usando uma API comum

In [3]:
import pandas as pd
import numpy as np
import sqlite3

In [5]:
df_produtos = pd.DataFrame()
df_produtos["Nome"] =  ["Ovos", "Manteiga", "Peixe"]
df_produtos["Valor"] = [10, 20, 30]

df_produtos

       Nome  Valor
0      Ovos     10
1  Manteiga     20
2     Peixe     30

In [6]:

#Conectar ao banco de dados
conn = sqlite3.connect('coderhouse.db')

#Escrever um dataFrame na tabela Produtos

df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

#Fechar a conexão  com o banco de dados

conn.close()

In [7]:
#leitura

#conexão com o banco
conn = sqlite3.connect('coderhouse.db')

#Consulta com SELECT e converte em DF
query = "SELECT * FROM produtos"
df = pd.read_sql(query, conn)
print(df)

#fecha a conexão
conn.close()

       Nome  Valor
0      Ovos     10
1  Manteiga     20
2     Peixe     30

In [9]:
#Listar tabelas

#Conexão com o banco
conn = sqlite3.connect('coderhouse.db')

#Executar a consulta que retorna as infos do esquema do banco

query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql_query(query, conn)

#Imprimir o DataFrame com os nomes das tabelas

print(schema)

#Fechar conexão

conn.close()

       name
0  produtos